<div class="container-quiz">

	<div class="logo-quiz">
		<h1>Quiz Hype</h1>
		<h3>{{title}}</h3>
	</div>

	<div *ngIf="!finished" class="questions-quiz">
		<h3>{{questionSelected.question}}</h3>
	</div>

	<div *ngIf="!finished" class="options-quiz">
		<button
    *ngFor="let option of questionSelected.options"
    (click)="playerChoice(option.alias)"
    class="btn-option">
			{{option.name}}
		</button>
	</div>

	<div *ngIf="finished" class="results-quiz">
		<h1>O Seu resultado é:</h1>
		<p>{{answerSelected}}</p>
	</div>

</div>
