.container-quiz {
	width: 80%;

	margin: auto;
	margin-top: 30px;
}

.logo-quiz h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;

  font-family: 'Sigmar';
  font-weight: bolder;
  font-size: 120px;

  text-shadow: 0px 5px 0px #2f6627;
}

.logo-quiz h3 {
  font-family: 'Open Sans';

  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.questions-quiz {
	width: 100%;
	height: 200px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #4224d9;
	border-radius: 8px;
	background-color: #644ed2;

	font-family: "Segoe UI";
	font-size: 20px;

  margin-top: 40px;
	margin-bottom: 20px;
}

.options-quiz {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: auto;
	margin-bottom: 20px;
}

.btn-option {
	width: 50%;

	padding: 1rem 1.5rem;

	background-color: transparent;
	border-radius: 8px;
	border: 1px solid #18ab29;

	display: inline-block;
	cursor: pointer;

	font-family: Arial;
	font-size: 17px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	color: white;
}

.btn-option:hover{
	background-color: #5cbf2a;
}

.btn-option:active{
	position: relative;
	top: 1px;
}

.results-quiz{
  margin-top: 70px;

	width: 100%;
	height: 350px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 10px;

	padding: 30px;

	background-color: #1F0539;
}

.results-quiz p {
  margin: 30px;

  font-size: 18px;
}
